.jumbotron {
  padding-top: 6rem;
  /* padding-bottom: 5rem; */
  background-color: #f3f3f3;
  background-image: url("img/testimoni/7.jpg");
  background-position: center;
  background-size: cover;
  /* opacity: 0.6; */
}
.my-bg {
  background-color: #f3f3f3;
}

section {
  padding-top: 5rem;
}
